aws_region        = "us-east-1"
environment       = "dev"
project_name      = "service-request"
db_username       = "sradmin"
db_password       = "CHANGE_ME_STRONG_PASSWORD"
db_instance_class = "db.t3.micro"
